# STM32CubeIDE build output
.metadata/
**/Debug/
**/Release/
**/build/

# STM32CubeIDE machine-local environment settings
**/.settings/language.settings.xml
**/.settings/stm32cubeide.project.prefs

# Compiler output and analysis files
*.o
*.d
*.elf
*.map
*.list
*.hex
*.bin
*.su
*.cyclo

# IDE and operating system files
.vscode/
*.launch
Thumbs.db
.DS_Store
